body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

footer {
  background-color: #aaa;
}

h1, h2 {
  margin-top: 1px;
  font-family: 'Alfa Slab One', cursive;
}

.hero {
  background: url(../images/header.jpg) no-repeat;
  background-size: cover;
  height: 50vh;
  min-height: 800px;
  color: white;
}

.conocenos{
  background: url(../images/cono.jpg) no-repeat;
  background-size: cover;
  height: 50vh;
  min-height: 1200px;
}
