<div class="conocenos">
    <div id="conocenos" class="row py-4 scroll_section">
        <h2>Visitanos</h2>
        <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.2192342901926!2d-58.42268252507328!3d-34.59861737295614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca62d4cf1563%3A0x686de505d84c67e6!2sAv.%20Medrano%20951%2C%20C1179AAQ%20CABA!5e0!3m2!1ses!2sar!4v1689606024295!5m2!1ses!2sar"></iframe>
        </div>
    </div>
    <div class="col-md-4 mt-4 mt-sm-0"> <!--Aca empieza la seccion ejemplo de "contactanos"-->
    <h2>¡Contactanos!:</h2>
    <form class="row g-3">
        <div class="col-md-6">
        <label label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre">
        </div>
        <div class="col-md-6">
        <label for="apellido" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="apellido">
        </div>
        <div class="col-12">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="email@email.com">
        </div>
        <div class="col-12">
        <label for="tel" class="form-label">Tel</label>
        <input type="text" class="form-control" id="tel" placeholder=". . .">
        </div>
        <div class="col-12">
        <label for="mensaje" class="form-label">Mensaje</label>
        <textarea class="form-control" id="mensaje" rows="3"></textarea>
        </div>
        <div class="col-12">
        <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
    </div>
</div>
<footer>
    <p class="text-center">Diseñado por: Benjamin Tedesco 2023</p>
</footer>