<div class="container-fluid">
    <div id="index" class="row align-items-center hero scroll_section">
      <div class="col-lg-3 offset-lg-2">
        <p>Presentamos...</p>
        <h1>ADN BEER</h1>
        <p>LLegamos para darte una frescura increible con nuestras mejores recetas de birras!, las mejores cervezas
          al alcance de tu paladar, acercate y probalas en la sucursal mas cercana!, no te lo podes perder, las mejores
          cervezas solo en ADN BEER.
        </p>
      </div>
    </div>
</div>
<footer>
    <p class="text-center">Diseñado por: Benjamin Tedesco 2023</p>
</footer>