<h1>NUESTROS PRODUCTOS</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius praesentium porro,
     harum vel incidunt id veritatis soluta placeat magni fugit, aspernatur beatae. Sequi,
      id repellat. Inventore ad tempore dolores fuga.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dignissimos ducimus fugit et numquam, sint iure deserunt iusto
     ea officia quidem quas maxime officiis asperiores, placeat, totam iste. Dicta, suscipit.</p>
<footer>
    <p class="text-center">Diseñado por: Benjamin Tedesco 2023</p>
</footer>